.container{
  border: 3px black solid;
  width: 35vh;
  height: 70vh;
  margin: 10px;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(39, 37, 37);
}

.outler-light {
  display: flex;
  flex-direction: column;
}

.lights {
  border: 2px solid black;
  margin: auto;
  border-radius: 50%;
  height: 130px;
  width: 150px;
}

.alert {
  color: white;
  font-size: 30px;
}